.toolbar-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.total-recipes {
  color: #14CFC2;
}

.add-recipe {
  padding: 6px 10px;
  background-color: #14CFC2;
  color: black;
  border-radius: 6px;
  font-weight: 600;
}